name: Easys Order Manager build test and pubish

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
         python-version: [3.8]
         django-version: [2.2.10]
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install -q Django==${{ matrix.django-version }}
        pip install .
        pip install -r requirements-test.txt

    - name: Lint with flake8
      run: flake8 easys_ordermanager

    - name: Test
      run: coverage run --help

  
